 <!-- shopping cart -->
 <div class="cart_area section_padding_b">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-9">
                <h4 class="shop_cart_title sopcart_ttl d-none d-lg-flex">
                    <span>Producto</span>
                    <span>Cantidad</span>
                    <span>Total Precio</span>
                </h4>
                <div class="shop_cart_wrap">
                    <div class="single_shop_cart d-flex align-items-center flex-wrap" *ngFor="let product of products">
                        <div class="cart_img mb-4 mb-md-0">
                            <img loading="lazy"  src="{{product.image}}" alt="product">
                        </div>
                        <div class="cart_cont">
                            
                                <h5>{{product.name}}</h5>
                            
                            <p class="price">${{product.price}}</p>
                            <p class="size mb-0">Size: {{product.tallas}}</p>
                        </div>
                        <div class="cart_qnty d-flex align-items-center ms-md-auto">
                            <div class="cart_qnty_btn" (click)="updateCantidad(product,-1)">
                                <i class="bi bi-dash"></i>
                            </div>
                            <div class="cart_count">{{product.quantity}}</div>
                            <div class="cart_qnty_btn" (click)="updateCantidad(product,1)">
                                <i class="bi bi-plus"></i>
                            </div>
                        </div>
                        <div class="cart_price ms-auto">
                            <p>${{product.subtotal.toFixed(2)}}</p>
                        </div>
                        <div class="cart_remove ms-auto" (click)="removeItem(product.id)">
                            <i class="bi bi-trash"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 mt-4 mt-lg-0">
                <div class="cart_summary">
                    <h4>Order Summary</h4>
                     <div class="cartsum_text d-flex justify-content-between">
                         <p class="text-semibold">Subtotal</p>
                         <p class="text-semibold">${{total.toFixed(2)}}</p>
                     </div>
                     <div class="cartsum_text d-flex justify-content-between">
                        <p>Delivery</p>
                        <p>Free</p>
                    </div>
                    <div class="cartsum_text d-flex justify-content-between">
                        <p>Tax</p>
                        <p>Free</p>
                    </div>
                    <div class="cart_sum_total d-flex justify-content-between">
                        <p>Total</p>
                         <p>${{total.toFixed(2)}}</p>
                    </div>
                    <div class="cart_sum_coupon">
                        <input type="text" placeholder="Enter coupon">
                        <button>apply</button>
                    </div>
                    <div class="cart_sum_pros">
                        <button routerLink="/checkout">Proccees to checkout</button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>


