
<article class="product" *ngFor="let product of PRODUCTS">

    <div class="boxImg">
        <img src="{{product.image}}">
        <div class="verProducto" routerLink="/producto/2">
             Ver Zapatilla
        </div>
    </div>
    <h6 routerLink="/producto/{{product.id}}">{{product.name}}</h6>
    <div class="boxPrecioCarrito">
        <div class="precio">
            <span>s/ {{product.price}}</span>

        </div>
        <div class="productCarrito" (click)="addCarrito(product)">
            <i class="bi bi-bag-plus-fill"></i>
        </div>
    </div>
</article>
