<div class="ads-grid_shop pt-4  container">
    <div class="shop_inner_inf">
        <h3 class="head text-center display-3 ">Contáctenos</h3>
        
        <div class="inner_section_w3ls d-flex mt-4">
            <div class="col-md-7">
                <h6>Por favor complete este formulario para contactar con nosotros.</h6>
                <form action="#" method="post" class="d-flex flex-wrap justify-content-between ">
                    <div class="col-md-6 col-sm-6 pe-2">
                        <input type="text" class="form-control" name="Name" placeholder="Name" required="">
                        <input type="email" class="form-control mt-2" name="Email" placeholder="Email" required="">
                    </div>
                    <div class="col-md-6 col-sm-6  ps-2">
                        <input type="text" class="form-control" name="Telephone" placeholder="Telephone" required="">
                        <input type="text" class="form-control mt-2" name="Subject" placeholder="Subject" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea class="col-md-12 form-control my-2" name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input class="col-md-5  btn btn-success"  type="submit" value="Submit">
                    <input class="col-md-5 btn btn-primary" type="reset" value="Clear">
                </form>
            </div>
            <div class="col-md-5 contact-left ps-4">
                <h6>Datos de contacto</h6>
                <div class="visit d-flex justify-content-start">
                    <i class="bi bi-house-door-fill display-7"></i>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text ms-2">
                        
                        <h4>Vísitanos</h4>
                        <p>Parma Via Modena,BO, Italy</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mail-us d-flex justify-content-start">
                    <i class="bi bi-envelope-fill display-7"></i>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text ms-2">
                        <h4>Email</h4>
                        <p><a href="mailto:info@example.com">info@example.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="call d-flex justify-content-start">
                    <i class="bi bi-telephone-fill display-7"></i>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text ms-2">
                        <h4>Llámanos</h4>
                        <p>+18044261149</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="visit d-flex justify-content-start">
                    <i class="bi bi-newspaper display-7"></i>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text ms-2">
                        <h4>Fax</h4>
                        <p>+1804426349</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

        <div class="clearfix"></div>

    </div>
</div>
<div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4642.071639070694!2d-76.97769202058802!3d-11.939747225790782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1705866504185!5m2!1ses-419!2spe" class="container-fluid"  height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
